html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clock-newyork {
  background-color: #f9f9f9;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-shadow: inset 0 0 20px gray;
  border: 10px solid black;
}

.clock-newyork__dial-hour {
  color: #4d4d4d;
  text-shadow: 1px 1px 4px;
  position: absolute;
}

.clock-newyork__dial-hour--main {
  color: black;
  font-size: 1.6em;
  font-weight: 500;
}

.clock-newyork__hand-pivot {
  box-shadow: 0 0 2px 2px red;
  border: 5px solid white;
  border-radius: 50%;
  height: 0px;
  width: 0px;
  position: absolute;
}

.clock-newyork__hours-hand {
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 40% 40% 20% 20%;
  position: absolute;
  border: 2px solid black;
  background-color: white;
  width: 8px;
}

.clock-newyork__minutes-hand {
  box-shadow: 1px 1px 1px 1px gray;
  position: absolute;
  border-radius: 40% 40% 20% 20%;
  background-color: white;
  border: 1px solid black;
  width: 4px;
}

.clock-newyork__seconds-hand {
  box-shadow: 1px 1px 1px 0px red;
  position: absolute;
  border-radius: 30%;
  background-color: red;
  width: 1px;
}

.clock-newyork__text {
  padding-top: 300px;
  padding-left: 150px;
  position: absolute;
  font-weight: bold;
  font-family: 'Lucida Handwriting'
}

.clock-newyork__date {
  padding-top: 150px;
  padding-left: 160px;
  position: absolute;
  font-weight: bold;
  font-family: 'cursive'
}

.clock-newyork__status {
  padding-top: 250px;
  padding-left: 210px;
  font-weight: bold;
  font-family: 'Lucida Handwriting'
}

#container-newyork {
  padding: 5px;
  height: 500px;
  font-size: 30px;
  width: 500px;
  margin: 5px auto;
}
