html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .clock-tokyo {
    background-color: #f9f9f9;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    box-shadow: inset 0 0 20px gray;
    border: 10px solid black;
  }
  
  .clock-tokyo__dial-hour {
    color: #4d4d4d;
    text-shadow: 1px 1px 4px;
    position: absolute;
  }
  
  .clock-tokyo__dial-hour--main {
    color: black;
    font-size: 1.6em;
    font-weight: 500;
  }
  
  .clock-tokyo__hand-pivot {
    box-shadow: 0 0 2px 2px red;
    border: 5px solid white;
    border-radius: 50%;
    height: 0px;
    width: 0px;
    position: absolute;
  }
  
  .clock-tokyo__hours-hand {
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 40% 40% 20% 20%;
    position: absolute;
    border: 2px solid black;
    background-color: white;
    width: 8px;
  }
  
  .clock-tokyo__minutes-hand {
    box-shadow: 1px 1px 1px 1px gray;
    position: absolute;
    border-radius: 40% 40% 20% 20%;
    background-color: white;
    border: 1px solid black;
    width: 4px;
  }
  
  .clock-tokyo__seconds-hand {
    box-shadow: 1px 1px 1px 0px red;
    position: absolute;
    border-radius: 30%;
    background-color: red;
    width: 1px;
  }
  
  .clock-tokyo__text {
    padding-top: 300px;
    padding-left: 160px;
    font-weight: bold;
    font-family: 'Lucida Handwriting'
  }
  
  #container {
    padding: 10px;
    height: 500px;
    font-size: 30px;
    width: 500px;
    margin: 150px auto;
  }
  